<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index 2</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <img
        v-on:mouseover="toggleShowPrices"
        v-on:mouseout="toggleShowPrices"
        v-bind:src="img"
        v-bind:alt="name"
      />
      <h1>
        {{ name }}
        <span v-if="changePercent > 0">👍</span>
        <span v-else-if="changePercent < 0 ">👎</span>
        <span v-else>🤞</span>
      </h1>
      <!--
        <span v-show="changePercent > 0">👍</span>
        <span v-show="changePercent < 0">👎</span>
        <span v-show="changePercent === 0">🤞</span>
        -->
      <span v-on:click="toggleShowPrices">{{ showPrices ? '🙈' : '🙉'}} </span>
      <ul v-show="showPrices">
        <li v-for="(p, i) in pricesWithDays" v-bind:key="p.day">
          {{i}} - {{ p.day }} - {{p.value}}
        </li>
        <!-- Se utiliza p.day como key, por que sabemos que tenemos 7 dias, y queremos identificar cada elemento de manera univoca. -->
      </ul>
    </div>
    <script src="app2.js"></script>
  </body>
</html>
